<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<table>
  <thead>
    <tr>
      <th>Document</th>
      <th>Name</th>
      <th>Lastname</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Eps</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.document %></td>
        <td><%= patient.name %></td>
        <td><%= patient.lastName %></td>
        <td><%= patient.age %></td>
        <td><%= patient.sex %></td>
        <td><%= patient.eps %></td>
        <td><%= patient.phone %></td>
        <td><%= patient.email %></td>
        <td><%= patient.address %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
