<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @schedule.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @schedule.end %>
</p>

<p>
  <strong>date_schedule:</strong>
  <%= @schedule.date_schedule %>
</p>

<p>
  <strong>Available:</strong>
  <%= @schedule.available %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @schedule.doctor %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
